<div class="container mt-5">
  <router-outlet />
</div>

<!-- Modal de confirmación -->
<div
  class="modal fade"
  id="exitAppModal"
  tabindex="-1"
  aria-labelledby="exitAppModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exitAppModalLabel">Confirmar salida</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">¿Deseas salir de la aplicación?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="confirmExit()">
          Salir
        </button>
      </div>
    </div>
  </div>
</div>
