<h2 class="text-center">Exportar datos de escaneo de productos</h2>
<hr />

<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-12">
      <p class="text-center text-muted">
        <strong>
          Este proceso comparte el contenido en formato de texto con el conteo de productos escaneados
        </strong>
      </p>

      <p class="text-center text-white">
        <strong> SE ELIMINARÁN LOS DATOS CARGADOS LOCALMENTE </strong>
      </p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center gap-2 mb-3">
  <button class="btn btn-danger" (click)="exportarTxt()">
    Compartir datos
  </button>
</div>
