<h2 class="text-center">Exportar datos de escaneo de productos</h2>
<hr />

<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-12">
      <p class="text-center text-muted">
        <strong>
          Este proceso comparte el contenido en formato de texto con el conteo de productos escaneados
        </strong>
      </p>

      <p class="text-center" style="color: red;">
        <strong> SE ELIMINARÁN LOS DATOS CARGADOS LOCALMENTE DESPUÉS DE COMPARTIR</strong>
      </p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center gap-2 mb-3">
  <button class="btn btn-success" (click)="exportarTxt()">
    Compartir datos
  </button>
</div>

<!-- <div class="d-flex justify-content-center gap-2 mb-3">
  <button class="btn btn-danger" (click)="borrarDatos()" [disabled]="!hayDatosEnTabla()">
    Borrar datos
  </button>
</div>

<p *ngIf="!hayDatosEnTabla()" style="opacity: 0.6;">
  No hay datos que eliminar.
</p> -->
