<h2 class="text-center">Escaneo de productos</h2>
<hr />

<div class="container mt-4">

  <div class="row mb-3">
    <div class="col-12">
      <p class="text-center text-muted"><strong>
        Proceda a escanear
      </strong>
      </p>
    </div>

    <div class="input-group mt-1">
      <input
        #txtSearch
        class="form-control"
        [value]="codigoProducto()"
        (input)="
          codigoProducto.set(txtSearch.value);
          codigoProductoEscaneado(txtSearch.value)
          "(keydown.enter)="buscarProducto()" placeholder="Escanee el código"
        />
      </div>
  </div>

  <!-- Producto encontrado -->
  @if (producto()) {
  <div class="card mb-3">
    <div class="card-header bg-success text-white">Producto encontrado</div>
    <div class="card-body">
      <p><strong>Cod. prod.:</strong> {{ producto().codigo_producto }}</p>
      <p><strong>Referencia:</strong> {{ producto().referencia }}</p>
      <p><strong>Desc.:</strong> {{ producto().descripcion }}</p>
      <p><strong>U. de Medida:</strong> {{ producto().unidad_medida }}</p>
      <p><strong>Cant. en Stock:</strong> {{ producto().cantidad_stock }}</p>
    </div>
  </div>
  } @if (producto() === null) {
  <div class="alert alert-warning mt-3 mb-3" role="alert">
    No se encontró el producto.
  </div>
  }

  <!-- Botón para mostrar todos los productos -->
  <div class="d-flex justify-content-center mb-3">
    <button class="btn btn-primary" (click)="toggleMostrarTodos()">
      {{ mostrarTodos() ? "Ocultar Todos" : "Mostrar Todos los Productos" }}
    </button>
  </div>

  <!-- Mostrar productos -->
  @if (mostrarTodos()) {
  <app-table-data [productos]="productos()"></app-table-data>
  }
</div>
